<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VRSMS Main Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <br>
    <center><h4>Main Menu</h4></center>
    <br>
    <center><a href="customer"    class="btn btn-primary">Manage Customer</a></center>
    <br>
    <center><a href="dvd"         class="btn btn-primary">Manage DVD</a></center>
    <br>
    <center><a href="employee"    class="btn btn-primary">Manage Employee</a></center>
    <br>
    <center><a href="rental"      class="btn btn-primary">Manage Rental</a></center>
    <br>
    <center><a href="request"     class="btn btn-primary">Manage Request</a></center>
    <br>
    <center><a href="sell"        class="btn btn-primary">Sell DVD</a></center>
    <br>
    <center><a href="logout"      class="btn btn-primary">Logout</a></center>
</body>
</html>